@use './styles/partials/typography';
@use './styles/partials/index' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: $primary-background;
  font-family: Outfit, sans-serif;
}
.logo {
  font-family: Newsreader, Avenir, Helvetica, serif;
}
.title {
  font-weight: 300;
  font-family: Newsreader, Avenir, Helvetica, serif;
  font: size 1.625rem;
  @include tablet {
    font: size 3.25rem;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
