@font-face {
  font-family: Newsreader;
  src: url(../../assets/Font/Newsreader-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Newsreader;
  src: url(../../assets/Font/Newsreader-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Newsreader;
  src: url(../../assets/Font/Newsreader-LightItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Outfit;
  src: url(../../assets/Font/Outfit-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url(../../assets/Font/Outfit-Light.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}
