@use "./typography" as *;

//Primary Colors
$primary-text: #0c1e1a;
$primary-accent: #1e6655;
$primary-background: #effaf7;

//Secondary Colors
$border-color: #b7cec9;
$alternate-backgroundcolor: #e4efec;
$alternate-text: #ffffff;


