@use "./typography";
@use "./breakpoint" as *;
* {
  margin: 0;
}
body {
  font-family: NewsReader, sans-serif, Arial;
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
