$min-mobile: 20rem;
$min-tablet: 48rem;
$min-desktop: 80rem;

@mixin mobile {
  @media screen and (min-width: $min-mobile) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $min-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $min-desktop) {
    @content;
  }
}
