@use '../../styles/partials/index' as *;
@use '../../styles/partials/breakpoint' as *;

.homepage {
  &__body {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 1.5rem;
    }
  }
  &__photoslist {
    width: 100%;
    display: flex;
    @include tablet {
      width: calc(50% - 0.5 * 1rem);
    }
    @include desktop {
      width: calc(33.3% - 0.66 * 1rem);
      // width: calc(50% - 0.5 * 1rem);
      &--open {
        width: calc(50% - 0.5 * 1rem);
      }
    }
  }
}
