@use '../../styles/partials/index' as *;
@use '../../styles/partials/breakpoint' as *;
.navbar {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 9px;


  &__logo {
    font-family: "Newsreader", serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    color: $primary-text;
    @include tablet{
      font: size 40px;
      line-height: 40px;
      font-weight: 400;

      }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    font-size: .80rem;
    font-weight: bold;
    color: $primary-accent;
    border: 3.04px solid $primary-accent;
    line-height: .9375rem;
    font-weight: 700;
    border-radius: 999px;
background-color: $primary-background;
    @include tablet{
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.625rem;
      padding: .75rem 2.75rem;
    }
    &:hover{
      background-color: $primary-accent;
      color: $alternate-text;
        path {
          fill: white;
      }

    }
  }
}
