@use '../../styles/partials/index' as *;
@use '../../styles/partials/breakpoint' as *;
.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    margin-bottom: 48px;
  
  
    &__photo {
      border: 3px solid $border-color;
      border-radius: .5rem;
      flex: 1 1 calc(33.33% - 16px);
      
    }
  &__container{
    position: relative;
  }
  &__author{
    position: absolute;
    bottom: 10.5rem;
    right: 1.25rem;
    background-color: green;
  }
    &__image {
      width: 100%;
      object-fit: cover;
    }
  
    &.with-tags-open {
      margin-right: 18.75rem;
      gap: 32px;
  
      &__photo {
        flex: 1 1 calc(33.33% - 32px);
      }
    }
  }
  