@use '../../styles/partials/index' as *;
@use '../../styles/partials/breakpoint' as *;

.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 12px;

  &__container {
    border: .1875rem solid $border-color;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__card {
    position: relative;
  }

  &__author {
    position: absolute;
    bottom: -9.6px;
    right: 0;
    background-color: $alternate-backgroundcolor;
    padding: 4.8px 16px;
    border-top-left-radius: 16px;
    font-size: 14.4px;
    font-weight: bold;
  }

  &__tags {
    background-color: $alternate-backgroundcolor;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 8px;
  }
  &__tag {
    border-radius: 24px;
    padding: 6.4px 12.8px;
    border: .125rem solid $primary-accent;
    font-size: 14px;
    font-weight: 600;
    color: $primary-text;
    background-color: $alternate-backgroundcolor;
  }
}
