@use "./styles/partials/typography";
@use "./styles/partials/index" as *;
.content {
  display: flex;
  flex-direction: column;

  &__body {
    flex: 2;
  }
  &__tag {
    flex: 1;
    background-color: $alternate-backgroundcolor;
  }

  @include desktop {
    flex-direction: row-reverse;
  }
}
