@use './styles/partials/typography';
@use './styles/partials/index' as *;
*,
*::before,
*::after {
  font-family: Newsreader, Avenir, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: $primary-background;
}
